{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Serwis{% endblock %}</title>
        <link href="{{ MEDIA_URL }}style/main.css" rel="stylesheet" type="text/css" media="screen" /> 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
        $ = JQuery
        </script>
    </head>
    <body>
        <div class="site" id="site">
            <h2>LECH-KOM Lubaczów - Serwis</h2>
            {% block top-row %}
            <div class="top-row">
                {% if user.is_authenticated %}
                <div class="account-info">
                    <div>
                        <span>użytkownik: {{ user.get_full_name }}</span>
                        {% if user.is_staff %}
                        <a href="{% url reports %}">RAPORTY</a>
                        <a target="_blank" href="/admin/">ADMIN</a>
                        {% endif %}
                        <a href="{% url logout %}">WYLOGUJ</a>
                    </div>
                </div>
                {% endif %}
                <div class="top-menu">
                    <a href="{% url product-list %}">ZGŁOSZENIA</a>
                    <a href="{% url client-list %}">KLIENCI</a>
                    <a href="{% url client-add %}">NOWY KLIENT</a>
                </div>
            </div>
            {%  endblock %}
            {% block search-forms %}
            <div class="search-forms">
                <div class="product-search">
                    <form action="{% url product-list %}" method="GET">
                        <label>szukaj zgłoszenia:</label>
                        <input type="text" name="q" value="" />
                        <input type="submit" value="szukaj" />
                    </form>
                </div>
                <div class="client-search">
                    <form action="{% url client-list %}" method="GET">
                        <label>szukaj klienta:</label>
                        <input type="text" name="q" value="" />
                        <input type="submit" value="szukaj" />
                    </form>
                </div>
                <div class="clearBoth"></div>
            </div>
            {%  endblock %}
            <div class="content">
            {% block content %}
            {% block content-header %}
            
            {% endblock %}
            <form action="" method="POST">{% csrf_token %}
                <table>
                    <tr>
                        <td>{{ auth_form.username.label }}</td>
                        <td>{{ auth_form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ auth_form.password.label }}</td>
                        <td>{{ auth_form.password }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="zaloguj" /></td>
                    </tr>
                </table>
            </form>
            {% endblock %}
            </div>
            <div class="footer">
                <div class="author" id="author" style="float: right; width: 200px;">&copy;&nbsp;<span id="lechkom">LECH-KOM</span> Lubaczów</div>
                <div class="clearBoth"></div>
            </div>
        </div>
    <script type="text/javascript">
    function getTransformProperty(element) {
        var properties = [
            'transform',
            'WebkitTransform',
            'MozTransform',
            'msTransform',
            'OTransform'
        ];
        var p;
        while (p = properties.shift()) {
            if (typeof element.style[p] != 'undefined') {
                return p;
            }
        }
        return false;
    }
    function rotate(id) {
        var div = document.getElementById(id);
        var property = getTransformProperty(div);
        if (property) {
            var d = 0;
            var add = 1;
            if (go) {
                inter = setInterval(function () {
                        div.style[property] = 'rotate(' + (d % 360) + 'deg)';
                        d = d + add;
                        if (add < 10) {
                            add = add + 1;
                        }
                    }, 10
                );
            } else {
                clearInterval(inter);
                div.style[property] = 'rotate(0deg)';
            }
        }
    }
    var go = false;
    $('#lechkom').click(function() {
        if (go) {
            go = false;
        } else {
            go = true;
        }
        rotate('lechkom');
    })
    </script>
    </body>
</html>