<form action="" method="post" id="comment-form" onsubmit="return false;">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="dodaj" /></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
$("#comment-form").bind('submit', function() {
    $.fancybox.showActivity();
    $.ajax({
        type: "POST",
        cache: false,
        url: "{% url comment-add product_id %}",
        data: $(this).serializeArray(),
        success: function(data) {
            json = $.parseJSON(data)
            if (json.success) {
                document.location.reload();
            } else {
                $.fancybox(json.data);
            }
        }
    });
});
</script>