<h3>Nowy komenatrz</h3>
<form action="" method="post" id="comment-form" onsubmit="return false;">
    {% csrf_token %}
    <input type="hidden" name="status_change" id="status_change" value="0" />
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2" style="width: 450px;">
                {% if product.status != product.COURIER %}
                    <input type="submit" value="skomentuj{% if user.is_staff %}/dodaj sprzęt{% endif %}" onclick="$('#status_change').val(0); "/>
                {% endif %}
                {% if product.status == product.PROCESSING %}
                    <input type="submit" value="{{ product.get_next_status_name_no_external }}" onclick="if (!$('#id_note').val().trim()) { $('#id_note').val('-'); } $('#status_change').val(1); "/>
                    <input type="submit" value="do wysłania" onclick="if (!$('#id_note').val().trim()) { $('#id_note').val('-'); } $('#status_change').val(2); "/>
                {% else %}
                    <input type="submit" value="{{ product.get_next_status_name }}" onclick="{% if product.status == product.COURIER  or product.status == product.READY %} if (!$('#id_note').val().trim()) { $('#id_note').val('-'); } {% endif %}$('#status_change').val(1); "/>
                {% endif %}
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
$("#comment-form").bind('submit', function() {
    $.fancybox.showActivity();
    $.ajax({
        type: "POST",
        cache: false,
        url: "{% url comment-add product.id %}",
        data: $(this).serializeArray(),
        success: function(data) {
            json = $.parseJSON(data)
            if (json.success) {
                document.location.reload();
            } else {
                $.fancybox(json.data, {'width': 600});
            }
        }
    });
});
$('input:submit').button();
</script>