{% extends 'main.html' %}
{% block content %}
    {% block content-header %}
    <h2>Klienci</h2>
    {% endblock %}
    <table class="client-list">
        <tr>
           <th class="left">ID</th>
           <th class="left">Imię</th>
           <th class="left">Nazwisko</th>
           <th class="left">Firma</th>
           <th class="left">Miejscowość</th>
           <th class="left">Telefon</th>
        </tr>
        {% for client in client_list %}
        <tr class="{% if client.is_subscriber %}subscriber{% endif %} {% cycle 'row1' 'row2' %}" onclick="window.location.href='{% url client-details client.id %}'">
            <td>{{ client.id }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.company_name|default:"-" }}</td>
            <td>{{ client.city|default:"-" }}</td>
            <td>{{ client.phone_number|default:"-" }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">Brak klientów</td>
        </tr>
    {% endfor %}
    </table>
    
    {% if page_obj %}
    <div class="pagination">
        <span class="step-links">
        
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}
    
            <span class="current">
                strona {{ page_obj.number }} z {{ paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}
