{% extends 'main.html' %}
{% load service_extras %}
{% block title %} {{ block.super }} - {{ product }} {% endblock %}
{% block content %} 
{% block content-header %}
    <h2>Dane zgłoszenia #{{ product.id }}</h2>
    {% endblock %}
<div class="product-details">
    <div class="product-data">
        <table>
            <tr>
                <th>Nazwa: </th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Producent: </th>
                <td>{{ product.producent|default:"-" }}</td>
            </tr>
            <tr>
                <th>Numer seryjny: </th>
                <td>{{ product.serial|default:"-" }}</td>
            </tr>
            <tr>
                <th>Gwarancja</th>
                <td>{{ product.get_warranty_name }}</td>
            </tr>
            <tr>
                <th>Status: </th>
                <td>{{ product.get_status_name }}</td>
            </tr>
            {% if product.status !=  product.LAST_STATUS %}
            <tr>
                <th></th>
                <td>
                    <form action="" method="POST">{% csrf_token %}
                        {% if product.status == product.PROCESSING %}
                        <input type="checkbox" id="id_set_courier" name="set_courier" /><label for="id_set_courier">serwis zew.</label>
                        {% endif %}
                        {% if product.status == product.COURIER %}
                        <div>
                            <label for="id_parcel_number">Numer przesyłki: </label><input size="12" maxlength="64" id="id_parcel_number" type="text" name="parcel_number" />
                        </div>
                        {% endif %}
                        {% if product.status == product.READY and not user.is_staff%}
                        <div>
                            <label for="id_invoice">Numer faktury/paragonu: </label><input size="12" maxlength="128" id="id_invoice" type="text" name="invoice" />
                        </div>
                        {% endif %}
                        <input type="submit" name="status_change" value="aktualizuj status" />
                    </form>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    
    <div class="client-data">
        <h3>Dane klienta</h3>
        <div>{{ client.first_name }} {{ client.last_name }}</div>
        <div>{{ client.company_name }}</div>
        <div></div>
        <div>{{ client.email }}</div>
        <div class="product-add-link">
            <a href="{% url client-edit client.id %}">edycja danych klienta</a>
        </div>
    </div>
    <div class="clearBoth"></div>
    {% if comment_list %}
    <h2>Historia</h2>
    <table class="comment-list">
        <tr>
            <th class="left">Notatka</th>
            <th>Koszt sprzętu</th>
            <th>Koszt usułgi</th>
            <th>Koszt dojazdu</th>
            <th>Data</th>
        </tr>
    {% for comment in comment_list %}
        <tr style="background-color:#{% cycle 'eee' 'fff' %};">
            <td>{{ comment.note }}</td>
            <td class="center">{{ comment.hardware|pln }}</td>
            <td class="center">{{ comment.software|pln }}</td>
            <td class="center">{{ comment.transport|pln }}</td>
            <td class="center">{{ comment.created }} przez {{ comment.user }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">brak komentarzy</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if product.status !=  product.LAST_STATUS %}
    <div class="comment-add">
        <form action="" method="POST">{% csrf_token %}
            <table>
            {{ comment_form.as_table }}
            <tr>
                <th></th>
                <td>
                    {% if user.is_staff %}
                    <label for="id_hardware_add">sprzęt</label>
                    <input type="checkbox" name="hardware_add" id="id_hardware_add"/>
                    {% endif %}
                    <input type="submit" value="dodaj komentarz" />
                </td>
            </tr>
            </table>
        </form>
    </div>
    {% endif %}
    <div class="return-link">
        <a href="{% url product-list %}">powrót</a>
        <a href="{% url product-print product.id %}" target="_blank">drukuj</a>
    </div>
    <div class="clearBoth"></div>
</div>
{% endblock %}
