{% extends 'main.html' %}
{% load service_extras %}
{% block content %}
    {% block content-header %}
    <h2 class="clearBoth">Zgłoszenia</h2>
    {% endblock %}
    
    <div class="product-types">
        <h3>Według statusu</h3>
        <ul>
            <li><a href="{% url product-list %}">Wszystkie ({{ counts.wszystkie }})</a></li>
            <li><a href="{% url product-list-by-status 'przyjety' %}">Przyjęte ({{ counts.przyjety }})</a></li>
            <li><a href="{% url product-list-by-status 'w_realizacji' %}">W realizacji ({{ counts.w_realizacji }})</a></li>
            <li>Serwis zewnętrzny ({{ counts.serwis_zew }})
                <ul>
                    <li><a href="{% url product-list-by-status 'oczekiwanie_na_kuriera' %}">Oczekujące ({{ counts.oczekiwanie_na_kuriera }})</a></li>
                    <li><a href="{% url product-list-by-status 'wyslano_do_serwisu_zew' %}">Wysłane ({{ counts.wyslano_do_serwisu_zew }})</a></li>
                </ul>
            </li>
            <li><a href="{% url product-list-by-status 'do_wydania' %}">Do wydania ({{ counts.do_wydania }})</a></li>
            <li><a href="{% url product-list-by-status 'wydany' %}">Wydane ({{ counts.wydany }})</a></li>
        </ul>
    </div>
    <div class="product-list-table">
        <table class="product-list">
            <tr>
                <th class="left">ID</th>
                <th class="left">Nazwa</th>
                <th class="left">Producent</th>
                <th class="left">Serial</th>
                <th>Gwarancja</th>
                <th>Do zapłaty</th>
                <th>Status</th>
                <th class="left">Numer przesyłki</th>
                <th style="width: 170px;">Data przyjęcia</th>
                <th></th>
            </tr>
            {% for product in product_list %}
            <tr class="{% cycle 'row1' 'row2' %}" onclick="window.location.href='{% url product-details product.id %}'">
                <td>{{ product.id }}</td>
                <td>{{ product.name|default:"-" }}</td>
                <td>{{ product.company|default:"-" }}</td>
                <td>{{ product.serial|default:"-" }}</td>
                <td class="center">{{ product.get_warranty_name }}</td>
                <td class="center">{{ product.get_cost|pln }}</td>
                <td class="center">{{ product.get_status_name }}</td>
                <td>{{ product.parcel_number|default:"-" }}</td>
                <td class="center">{{ product.created }}</td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="9" class="center"><h3>Brak zgłoszeń</h3></th>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    {% if page_obj %}
    <div class="pagination">
        <span class="step-links">
        
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}
    
            <span class="current">
                strona {{ page_obj.number }} z {{ paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}
