{% extends 'main.html' %}
{% load service_extras %}
{% block title %} {{ block.super }} - {{ product }} {% endblock %}
{% block content %} 
	{% block content-header %}
	    <h2 class="{% if product.client.is_subscriber %}subscriber-color{% endif %}">Zgłoszenie {{ product.get_signature }} ({{ product.get_owner_name }})</h2>
	{% endblock %}
	<div class="product-details">
	    <div class="product-data">
	        <h3>Szczegóły zgłoszenia</h3>
	        <table>
	            <tr><th>Nazwa: </th><td>{{ product.name }}</td></tr>
	            <tr><th>Producent: </th><td>{{ product.producent|default:"-" }}</td></tr>
	            <tr><th>Notatka: </th><td>{{ product.description|default:"-" }}</td></tr>
	            <tr><th>Informacje dodatkowe: </th><td>{{ product.additional_info|default:"-" }}</td></tr>
	            <tr><th>Numer seryjny: </th><td>{{ product.serial|default:"-" }}</td></tr>
	            <tr><th>Gwarancja</th><td>{{ product.get_warranty_name }}</td></tr>
	            <tr><th>Przewidywany koszt naprawy do</th><td>{{ product.max_cost|pln }}</td></tr>
	            <tr><th>Koszt naprawy:</th><td>{{ product.get_cost|pln }} {{ product.get_cost_totals }}</td></tr>
	            <tr><th>Status: </th><td>{{ product.get_status_name }}</td></tr>
	            {% if product.courier > 0 %}
	            <tr><th>Kurier</th><td>{{ courier }}</td></tr>
	            <tr><th>Numer przesyłki: </th><td>{{ product.parcel_number }}</td></tr>
	            {% endif %}
	        </table>
	    </div>
	    <div class="client-data">
            {% include "product/client_data.html" with product=product %}
	    </div>
	    <div class="product-files">
	       {% include "product/file_list.html" with product=product %}
	    </div>
	    <div class="clearBoth"></div>
	    {% if comment_list %}
	    <h2>Historia</h2>
	    <div class="return-link">
	        {% if product.status != product.CLOSED %}
	        <a class="button" id="ajax-comment-add-top" href="{% url comment-add product.id %}">komentarz/zmiana statusu</a>
	        {% endif %}
	        <a class="button" href="{% url product-print product.id %}" target="_blank">drukuj</a>
	    </div>
	    <table class="comment-list">
	        <tr>
	            <th class="left">Notatka</th>
	            <th>Koszt sprzętu</th>
	            <th>Koszt usługi</th>
	            <th>Koszt dojazdu</th>
	            <th>Status</th>
	            <th>Data</th>
	            <th></th>
	        </tr>
	    {% for comment in product.comment_set.all %}
	        <tr style="background-color:#{% cycle 'eee' 'fff' %};">
	            <td>{{ comment.note }}</td>
	            <td class="center">{{ comment.hardware|pln }}</td>
	            <td class="center">{{ comment.software|pln }}</td>
	            <td class="center">{{ comment.transport|pln }}</td>
	            <td class="center">{{ comment.get_status_name }}</td>
	            <td class="center">{{ comment.created }} przez {{ comment.user }}</td>
	            <td class="center">
	                {% if user.is_staff and comment.type == comment.HARDWARE_ADD or user.is_superuser %}
		                {% if comment.type != comment.STATUS_CHANGE %}
		                <a id="delete-comment{{ comment.id }}" href="{% url comment-del comment.id %}">usuń</a>
		                <script type="text/javascript">
		                    $("#delete-comment" + {{ comment.id }}).fancybox();
		                </script> 
		                {% else %}
		                -
		                {% endif %}
	                {% endif %}
	            </td>
	        </tr>
	    {% empty %}
	        <tr>
	            <td colspan="5">brak komentarzy</td>
	        </tr>
	    {% endfor %}
	    </table>
	    {% endif %}
	    
	    <div class="return-link">
	        {% if product.status != product.CLOSED %}
	        <a class="button" id="ajax-comment-add-bottom" href="{% url comment-add product.id %}">komentarz/zmiana statusu</a>
	        {% endif %}
	        <a class="button" href="{% url product-print product.id %}" target="_blank">drukuj</a>
	    </div>
	    <div class="clearBoth"></div>
	</div>
{% endblock %}
