{% load service_extras %}
<table class="product-list">
    <tr>
        <th class="left">ID</th>
        <th class="left">Klient</th>
        <th class="left">Nazwa</th>
        <th class="left">Producent</th>
        <th class="left">Serial</th>
        <th>Gwarancja</th>
        <th>Do zapłaty</th>
        <th>Status</th>
        <th class="left">Telefon klienta</th>
        <th>Data przyjęcia</th>
        <th>Realizowane przez</th>
    </tr>
    {% for product in product_list %}
    <tr class="{% cycle 'row1' 'row2' %} {% if product.client.is_subscriber %}subscriber-color{% endif %}" 
        {% if product.get_alert %} style="background-color: {{ product.get_alert }};" {% endif %} 
        onclick="window.location.href='{% url product-details product.id %}'">
        <td>{{ product.id }}</td>
        <td>{{ product.client }}</td>
        <td>{{ product.name|default:"-" }}</td>
        <td>{{ product.company|default:"-" }}</td>
        <td>{{ product.serial|default:"-" }}</td>
        <td class="center">{{ product.get_warranty_name }}</td>
        <td class="center">{{ product.get_cost|pln }}</td>
        <td class="center">{{ product.get_status_name }}</td>
        <td>{{ product.client.phone_number|default:"-" }}</td>
        <td class="center">{{ product.created }}</td>
        <td class="center">{{ product.get_owner }}</td>
    </tr>
    {% empty %}
    <tr>
        <th colspan="9" class="center"><h3>Brak zgłoszeń</h3></th>
    </tr>
    {% endfor %}
</table>