
 
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <title>Serwis</title> 
        <link href="http://test.lule.pl/static_media/style/main.css" rel="stylesheet" type="text/css" media="screen" /> 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"> 
        $ = JQuery
        </script> 
    </head> 
    <body> 
        <div class="site"> 
            <h2 style="color: #f00;">Zonk!</h2> 
            <div><p>Coś popsułeś ziomek.</p><p><a href="{% url product-list %}">powrót do listy zgłoszeń</a></p></div>
            <div id="o_django" class="footer">&copy;&nbsp;Ha haha!</div> 
        </div> 
    </body> 
</html>
