{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Serwis{% endblock %}</title>
        <link href="{{ STATIC_URL }}style/main.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.4.3.min.js"></script>
        <!-- Fancybox -->
       	<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css" media="screen" />
        <link href="{{ STATIC_URL }}fancybox/style.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon" />
        <!-- End -->
    </head>
    <body>
        <div class="site" id="site">
            <h2><span id="main-logo">LECH-KOM Lubaczów - Serwis</span></h2>
            {% block top-row %}
            <div class="top-row">
                {% if user.is_authenticated %}
                <div class="account-info">
                    <div>
                        <span>użytkownik: {{ user.get_full_name }}</span>
                        {% if user.is_staff %}
                        <a href="{% url reports %}">RAPORTY</a>
                        <a target="_blank" href="/admin/">ADMIN</a>
                        {% endif %}
                        <a href="{% url logout %}">WYLOGUJ</a>
                    </div>
                </div>
                {% endif %}
                <div class="top-menu">
                    <a href="{% url product-list %}">ZGŁOSZENIA</a>
                    <a href="{% url client-list %}">KLIENCI</a>
                    <a href="{% url client-add %}">NOWY KLIENT</a>
                </div>
            </div>
            {%  endblock %}
            {% block search-forms %}
            <div class="search-forms">
                <div class="product-search">
                    <form action="{% url product-list %}" method="GET">
                        <label>szukaj zgłoszenia:</label>
                        <input type="text" name="q" value="" />
                        <input type="submit" value="szukaj" />
                    </form>
                </div>
                <div class="client-search">
                    <form action="{% url client-list %}" method="GET">
                        <label>szukaj klienta:</label>
                        <input type="text" name="q" value="" />
                        <input type="submit" value="szukaj" />
                    </form>
                </div>
                <div class="clearBoth"></div>
            </div>
            {%  endblock %}
            <div class="content">
            {% if messages %}
                <ul class="messages">
                {% for msg in messages %}
                    <li class="{{ msg.tags }}">{{ msg }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% block content-header %}
            
            {% endblock %}
            <form action="" method="POST">{% csrf_token %}
                <table>
                    <tr>
                        <td>{{ auth_form.username.label }}</td>
                        <td>{{ auth_form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ auth_form.password.label }}</td>
                        <td>{{ auth_form.password }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="zaloguj" /></td>
                    </tr>
                </table>
            </form>
            {% endblock %}
            </div>
            <div class="footer">
                <div class="author" id="author" style="float: right; width: 200px;">&copy;&nbsp;<span id="lechkom">LECH-KOM</span> Lubaczów</div>
                <div class="clearBoth"></div>
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script type="text/javascript">
            $(document).ready(function() {
                $("#ajax-comment-add-top").fancybox();
                $("#ajax-comment-add-bottom").fancybox();
            });
        </script>
        <!-- END -->
    </body>
</html>
