{% extends 'service/product/list.html' %}
{% block title %} {{ block.super }} - {{ client }} {% endblock %}
{% block content %}
<h2>Dane klienta {{ client }}</h2>
<div class="client-details">
    <div>{{ client.first_name }} {{ client.last_name }}</div>
    <div>{{ client.company_name }}</div>
    <div>{{ client.address_line1 }}</div>
    <div>{{ client.address_line2 }}</div>
    <div>{{ client.city }}</div>
    <div>{{ client.postcode }}</div>
    <div>{{ client.email }}</div>
    
    <div class="product-add-link">
        <a href="{% url product-add client.id %}">nowe zgłoszenie</a>
        <a href="{% url client-edit client.id %}">edycja danych klienta</a>
    </div>
</div>
{{ block.super }}
<div class="return-link">
    <a href="{% url client-list %}">powrót</a>
</div>
<div class="clearBoth"></div> 
{% endblock %}
