{% extends 'service/client/add.html' %}
{% block title %} {{ block.super }} - edycja danych klienta {% endblock %}
{% block content %}
    {% block content-header %}
    <h2>{% block client-header %}Edycja danych klienta{% endblock %}</h2>
    {% endblock %}
    <div class="client-add">
        <form action="" method="POST">{% csrf_token %}
            <table>
                <input type="hidden" name="id" value="{{ client.id }}" />
                {{ client_form.as_table }}
                <tr>
                    <th></th>
                    <td><input type="submit" value="zapisz" /></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}