{% extends 'product/list.html' %}
{% block title %} {{ block.super }} - {{ client }} {% endblock %}
{% block content %}
<h2>Dane klienta {{ client }}</h2>
<div class="client-details">
    <div>{{ client.first_name }} {{ client.last_name }}</div>
    <div>{{ client.company_name }}</div>
    {% for line in client.get_address_lines %}
        <div>{{ line }}</div>
    {% endfor %}
    <div>{{ client.get_phone_numbers }}</div>
    <div>{{ client.email }}</div>
    
    <div class="product-add-link">
        <a href="{% url product-add client.id %}">nowe zgłoszenie</a>
        <a href="{% url client-edit client.id %}">edycja danych klienta</a>
    </div>
</div>
{{ block.super }}
<div class="return-link">
    <a href="{% url client-list %}">powrót</a>
</div>
<div class="clearBoth"></div> 
{% endblock %}
