{% extends 'main.html' %}
{% load service_extras %}
{% block content %}
    {% block content-header %}
    <h2 class="clearBoth">
        Zgłoszenia
        <span class="product-types"> 
            <a href="{% url product-list-by-status 'aktualne' %}">Bieżące</a> / 
            <a href="{% url product-list %}">Wszystkie ({{ counts.wszystkie }})</a> / 
            <a href="{% url product-list-by-status 'przyjety' %}">Przyjęte ({{ counts.przyjety }})</a> / 
            <a href="{% url product-list-by-status 'w_realizacji' %}">W realizacji ({{ counts.w_realizacji }})</a> /
            <a href="{% url product-list-by-status 'do_wyslania' %}">Oczekujące na kuriera ({{ counts.do_wyslania }})</a> / 
            <a href="{% url product-list-by-status 'w_serwisie' %}">Wysłane do serwisu zewnętrznego ({{ counts.w_serwisie }})</a> / 
            <a href="{% url product-list-by-status 'do_wydania' %}">Do wydania ({{ counts.do_wydania }})</a> / 
            <a href="{% url product-list-by-status 'wydany' %}">Wydane ({{ counts.wydany }})</a>
        </span>
    </h2>
    {% endblock %}
        {% include 'product/list_table.html' with product_list=product_list %}
        {% include 'generic/pagination.html' with page_obj=page_obj paginator=paginator %}
    <div class="clear: both;"></div>
{% endblock %}
