{% load service_extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Zgłoszenie reklamacyjne nr {{ product.id }} z dnia {{ product.created|date:"d/m/Y" }}</title>
</head>
<body style="margin: 30px; position: relative; ">
    <h1 style="border: 1px solid black; text-align: center;">Zgłoszenie reklamacyjne nr {{ product.id }} z dnia {{ product.created|date:"d/m/Y" }}</h1>
    <div style="width: 100%; font-size: 18px; ">
        <div style="float: left;">
            <div>LECH-KOM Lubaczów</div>
            <div>ul. Konery 3</div>
            <div>37-600 Lubaczów</div>
            <div>tel. 16-6320977</div>
            <div>e-mail: biuro@lechkom.pl</div>
        </div>
        <div style="float: right;">
            <div>{{ client.first_name }} {{ client.last_name }}</div>
            <div>{{ client.company_name }}</div>
            <div>{{ client.address_line1 }}</div>
            <div>{{ client.address_line2 }}</div>
            <div>{{ client.city }} {{ client.postcode }}</div>
        </div>
    </div>
    <div style="clear: both; "></div>
    <h2 style="border: 1px solid black; text-align: center; ">Status zgłoszenia: {{ product.get_status_name }}</h2>
    <div style="clear: both; "></div>
    <div style="width: 50%; float: left; text-align: right; font-size: 20px;">
        <div>nazwa:</div>
        <div>numer seryjny:</div>
        <div>opis usterki:</div>
        <div>naprawa gwarancyjna:</div>
        <div>koszt naprawy:</div>
    </div>
    <div style="width: 50%; float: right; text-align: left; font-size: 20px;">
        <div>&nbsp;{{ product.name|lower }} {{ product.producent|lower }}</div>
        <div>&nbsp;{{ product.serial_number|default:"brak" }}</div>
        <div>&nbsp;{{ product.description|default:"nie podano" }}</div>
        <div>&nbsp;{{ product.get_warranty_name|lower }}</div>
        <div>&nbsp;{{ product.max_cost|default:"nie określono" }}</div>
    </div>
    <div style="clear: both; "></div>
    <h2 style="border: 1px solid black; text-align: center;">Historia zgłoszenia</h2>
    <table style="margin-bottom: 80px; width: 100%; font-size: 18px; border-collapse: collapse; border-spacing: 0px;">
    {% for comment in comment_list %}
    <tr>
        <td style="border-bottom: 1px solid black; width: 200px;">{{ comment.created }}</td>
        <td style="border-bottom: 1px solid black; text-align: left; width: 200px;">{{ comment.user }}</td>
        <td style="border-bottom: 1px solid black; text-align: left;">{{ comment }} {{ comment|comment_costs }}</td>
    </tr>
    {% endfor %}
    </table>
    <div style="margin-left: 50px; float: left;">czytelny podpis klienta</div><div style="float: right; margin-right: 50px;">pracownik: {{ product.user }}</div>
    <div style="clear: both; display: block; width: 50px;">&nbsp;</div>
    <div style="clear: both;">
        <div style="font-weight: bold; font-size: 18px;">UWAGA</div>
        <div>Serwis nie ponosi odpowiedzialności za utratę danych zawartych w przekazanym sprzęcie.</div>
    </div>
</body>
</html>