{% extends 'main.html' %}
{% block content %}
<h2>{% if object %}Edycja danych klienta {{ object }}{% else %}Nowy klient{% endif %}</h2>
<div class="user-add">
	<form id="user-create-form" action="" method="post" {% comment %}onsubmit="return false;" {% endcomment %}>
	    {% csrf_token %}
	    <table>
	        {{ form.as_table }}
	        <tr>
	            <td></td>
	            <td><input type="submit" value="zapisz" /></td>
	        </tr>
	    </table>
	</form>
</div>
{% endblock %}

{% comment %}
<script type="text/javascript">
$("#user-create-form").bind('submit', function() {
    $.fancybox.showActivity();
    $.ajax({
        type: "POST",
        cache: false,
        url: "{% if object %}{% url user-edit object.id %}{% else %}{% url user-add %}{% endif %}",
        data: $(this).serializeArray(),
        success: function(data) {
            json = $.parseJSON(data)
            if (json.success) {
                document.location.href = json.data;
            } else {
                $.fancybox(json.data);
            }
        }
    });
});
$(".button, input:submit").button();
</script>
{% endcomment %}

